<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>
  <h5>you have searched for {{query}}</h5>

  {% if p %}
  <div class="container" style="margin_bottom:100px;"></div>
  <div class="row">
  {% for i in p %}
    <div class="col-sm-4">
            <div class="card" style="width:30rem;">
                <img src="{{i.image.url}}" height="300px" width="100%" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">{{i.name}}</h5>
                    <h5 class="card-title text-center fw-bold">{{i.price}}</h5>
                    <a href="{% url 'shop:details' i.name %}" class="btn btn-primary" style="position:relative;left:40%">DETAILS</a>
                </div>
            </div>
        </div>
        {% endfor %}
  </div>
  {% else %}
  <h4>NO RESULT FOUND</h4>
  {% endif %}

{% endblock %}
</center>